.chat {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .post-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column-reverse;

    overflow-y: scroll;
    overflow-x: hidden;

    // Make scrollbar scroll to new posts automatically
    // when scrolled to the bottom.
    scroll-snap-type: y proximity;

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      li {
        flex-shrink: 0;
      }

      // Make scrollbar scroll to new posts automatically
      // when scrolled to the bottom.
      li:last-child {
        scroll-snap-align: end;
      }
    }
  }

  .chatcontrols {
    flex-shrink: 0;
    overflow: hidden;

    // Needed to prevent .options' absolute positioning
    // from placing it outside the parent element.
    position: relative;
  }

  .chatcontrols-table {
    width: 100%;
  }

  .progress {
    margin-left: 3px;
  }

  textarea.comment-field {
    resize: none;
    width: calc(100%);
  }

  .options {
    display: flex;
    flex-direction: row;

    position: absolute;
    right: 2px;
    bottom: 2px;
  }

  .emote-button {
    margin-right: 2px;
  }

  .theme-selector {
    margin-right: 2px;
  }

  .post-button {
    min-width: 65px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.emote-selector {
  position: fixed;
  left: 100px;
  bottom: 50px;

  max-width: 665px; // Just enough for 6 emotes horizontally
  max-height: 400px;
}
