@import url(https://fonts.googleapis.com/css?family=Roboto);

:global(:root) {
  --color-spoiler: black;
  --color-spoiler-background: black;
  --color-spoiler-hover: white;
}

.theme-dark {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;

  background: #020202;
  color: white;

  .post-image {
    .filename {
      color: #c4c4c4;
    }
  }

  .post-container {
    .post {
      background-color: rgb(13, 13, 13);
    }

    .post:nth-child(odd) {
      background-color: #121212;
    }
  }

  .post {
    .comment {
      :deep(a) {
        color: #898ed6;
        text-decoration: none;
      }
    }
  }

  .chat-controls {
    background: #282828;
    border-top: 1px solid black;
  }
}
