:global(:root) {
  --color-spoiler: black;
  --color-spoiler-background: black;
  --color-spoiler-hover: white;
}

.theme-yotsubab {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;

  background: #eef2ff;
  color: black;

  .post-container {
    padding-left: 2px;
    padding-right: 2px;
  }

  .post {
    background-color: #d6daf0;
    border: 1px solid #b7c5d9;
    border-left: none;
    border-top: none;
    padding: 2px;
    margin: 2px;
    min-width: 250px;

    &.highlight {
      background: #d6bad0;
      border: 1px solid #ba9dbf;
      border-left: none;
      border-top: none;
    }

    .comment {
      :deep(a) {
        color: #34345c;
        text-decoration: none;
      }
    }
  }
}
