.chat {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1px;

  .chat-postcontainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
  }

  .chatcontrols {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .chatcontrols-table {
    width: 100%;
  }

  .progress {
    margin-left: 3px;
  }

  .post-header {
    padding-bottom: 1px;
    span {
      margin-right: 3px;
    }
  }

  .time {
    vertical-align: top;
    text-align: right;
    color: gray;
  }

  .name {
    vertical-align: top;
    text-align: right;
    padding-right: 2px;
    color: #117743;
    font-weight: bold;
  }

  .post-image {
    display: block;
    float: left;
    overflow: hidden;
    max-width: 100%;

    .thumbnail {
      display: block;
      border: none;
      padding-right: 2px;
      max-width: 100px;
      max-height: 100px;

      @media screen and (orientation: portrait) {
        max-width: 50px;
        max-height: 50px;
      }
    }

    .expanded-image {
      display: block;
      max-width: 100%;
    }

    .filename {
      display: none;
      text-align: center;
      clear: left;
      font-weight: bold;
    }

    &.expanded {
      .thumbnail {
        display: none;
      }

      .filename {
        display: block;
      }
    }
  }

  .post {
    overflow: hidden;
    padding: 5px;
  }

  .comment {
    word-wrap: break-word;
  }

  .quote {
    color: #789922;
  }

  textarea.comment-field {
    resize: none;
    width: calc(100%);
  }

  .options {
    position: absolute;
    right: 2px;
    bottom: 2px;
  }

  .toggle-compact-button {
    margin-left: 2px;
  }

  #postbutton {
    min-width: 65px;
  }

  .version-text {
    position: fixed;
    left: 2px;
    bottom: 1px;

    font-size: 0.7rem;
    color: #898989;
  }
}
