:global(:root) {
  --color-button-text: white;
  --color-button-background: rgb(44, 44, 44);
  --color-button-hover: aquamarine;

  --color-dialog-background: rgb(29, 29, 29);

  --color-title-background: rgb(56, 56, 56);
  --color-toolbar-background: rgb(37, 37, 37);
}
