.toast-chat {
  // Override background from theme
  background: none !important;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.post-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li {
      flex-shrink: 0;
    }
  }
}
