@import url(https://fonts.googleapis.com/css?family=Roboto);

.roomcontrols {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;

  background: #282828;
  color: white;

  padding: 10px;

  .login-error {
    color: red;
    font-weight: bold;
  }
}
