@import url(https://fonts.googleapis.com/css?family=Roboto);

.chatContainer {
  background: black;
  color: white;
}

.postContainer .post:nth-child(odd) {
  background: #121212;
}

.chatControls {
  background: #282828;
}
