@import url(https://fonts.googleapis.com/css?family=Roboto);

.chat {
  background: black;
  color: white;
}

.chat .postContainer .post:nth-child(odd) {
  background: #121212;
}

.chat .chatControls {
  background: #282828;
}
