#chatContainer {
  position: fixed;
  padding: 1px;
  overflow: hidden;
}

#contentContainer {
  position: fixed;
  overflow: hidden;
}

@media screen and (orientation:landscape) {
  #chatContainer {
    left: 0;
    top: 0;
    bottom: 0;
    width: 350px;
  }

  #contentContainer {
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (orientation:portrait) {
  #chatContainer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
  }

  #contentContainer {
    left: 0;
    top: 0;
    right: 0;
    height: 50%;
  }
}
